*{
	box-sizing:border-box;	
}
html{
	font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
}
body{
	padding:0px; 
	margin:0px; 
	height:auto;
	overflow: hidden;
}


/* -------------------headings---------------------- - css
    - scss
    - tailwind + radix + headless UI*/
h1 {
	font-size: 2em;
	font-weight: bold;
	padding:0px;
	padding-bottom: 10px;
	margin: 0px;
  }
  h2 {
	font-size: 1.6em;
	font-weight: bold;
	padding:0px;
	padding-bottom: 10px;
	margin: 0px;
  }
  h3 {
	font-size: 1.2em;
	font-weight: bold;
	padding:0px;
	padding-bottom: 10px;
	margin: 0px;

    color:#696969
  }
  
  p {
	line-height: 1.7;
  }

  p.validation_label{
	font-size: 0.5em;
	padding:0px;
	padding-bottom: 10px;
	margin: 0px;
  }

  
  /* -------------------headings---------------------- */


/*-----------------label container------------------*/
#form{
    display: flex;
    flex-direction: column;
    align-items: center; 

    border-style: solid;
	border-width: 0px;
	border-color: red;

	padding-top: 50px;

    width:100%;
    min-height:100vh;
	height:auto;

	overflow-y: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center; 

    border-style: solid;
	border-width: 0px;
	border-color: red;

	padding-top: 50px;

    width:100%;
    min-height:100vh;
	height:auto;

	overflow-y: none;
}

.form-group {
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: left; 

    border-style: solid;
	border-width: 0px;
	border-color: red;

    width:85%;
    min-width: 300px;

    color:#696969;
}
    .form-group label{
        display: block;
        align-items: left;

        color:rgb(91, 91, 91);
        font-size:0.8em;
    }

/*-----------------label container------------------*/

/*---------------------flex layers----------------------*/
#log_in_signup_page_background {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center; 

	border-style: solid;
	border-width: 0px;
	border-color: rgb(255, 0, 0);

	width: 100%;
	min-height: 100vh;

	background-color: rgb(255, 255, 255);
}

    #log_in_signup{
        display:flex;
        flex-direction: column;
       
        

        border-style: solid;
        border-width: 2px;
        border-radius:10px;
        border-color: rgb(74, 74, 74);

        background-color: hsl(0, 0%, 100%);


        width: 30%;
        min-width: 400px;
        height: 89vh;
        min-height:500px;

        overflow-y: scroll;
    }
	#log_in_signup_page_background2 {
		display: flex;
		flex-direction: column;
		align-items: center; 
	
		border-style: solid;
		border-width: 0px;
		border-color: rgb(255, 0, 0);
	
		width: 100%;
		min-height: 100vh;

		padding:30px;
	

	}
	#log_in_signup2{
        display:flex;
        flex-direction: column;
		align-items: center;
       
        border-style: solid;
        border-width: 2px;
        border-radius:10px;
        border-color: rgb(74, 74, 74);

        background-color: hsl(0, 0%, 100%);

        width: 80%;
        min-width: 400px;
        height: auto;
        min-height:1600px;

		padding:10px;
		margin-bottom:50px;


    }
	#form2{
		display: flex;
		flex-direction: column;
		align-items: center; 
	
		border-style: solid;
		border-width: 0px;
		border-color: red;
	
		padding-top: 0px;
	
		width:100%;
		min-height:100vh;
		height:auto;
	
		overflow-y: none;
	}
	.form-group2-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: left; 
	
		border-radius: 5px;
		border-style: solid;
		border-width: 2px;
		border-color: rgb(58, 58, 58);
	
		width:100%;
		min-width: 300px;

		margin-bottom:50px;
		padding:10px;
	
		background-color: hsl(0, 0%, 27%);
	}
	.form-group2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left; 
	
		border-style: solid;
		border-width: 0px;
		border-color: red;
	
		width:30%;
		min-width: 300px;

		margin:3px;
	
		color:#696969;
	}
		.form-group2 label{
			display: block;
			align-items: left;
	
			color:rgb(255, 255, 255);
			font-size:0.8em;
		}
#flex-dashboard {
	display: flex;
	flex-direction: column;

	border-style: solid;
	border-width: 2px;
	border-color: rgb(0, 13, 255);

	width: 100%;
	min-height: 100vh;
	height:auto;

	background-color: rgb(188, 130, 130);

	overflow: hidden;
}

/*---------------------flex layers----------------------*/

/*----------------------grid----------------------------*/
.grid-container {
	display: grid;
	grid-template-columns: 190px auto 800px;
	grid-template-rows: 50px 20px auto;
	gap: 1px;
	
	background-color: #ffffff;
    padding:0px;

	border-style:solid;
	border-width:0px;
	border-color:red;

	height:100vh;
  }
  .grid-container  div {
	display:flex;
  }
  
  .item1 {
	grid-row-start:1;
	grid-row-end:2; /*or grid-row:1 / span 1*/
	grid-column-start: 1; /*or grid-column:1 / span 6*/
	grid-column-end: 6;

	align-items: center;
	justify-content: center;

	border-style:solid;
	border-top-width: 10px;
	border-color:#464646

  }
  	#header-right{
		display: flex;
		flex-direction: row;

		border-style: solid;
		border-width: 0px;
		border-color: rgb(0, 13, 255);

		width: 50%;
		height:50px;

		padding:0;
		background-color: rgba(255, 255, 255, 0.764);

		overflow: hidden;
	}
	#header-left{
		display: flex;
		flex-direction: column;

		border-style: solid;
		border-width: 0px;
		border-color: rgb(0, 13, 255);

		width: 50%;
		min-height: 50px;
		height:50px;

		background-color: rgba(255, 255, 255, 0.726);

		overflow: hidden;
	}
  .item2 {
	grid-column-start: 1;
	grid-column-end: 6;

	background-color: rgb(162, 162, 162);

  }
  .item3{
	grid-row-start:3;
	grid-row-end:4;
	
	display:flex;
	flex-direction: column;
	overflow-y: scroll;

	background-color: rgb(255, 255, 255);
	

  }
  .item4{
	grid-row-start:3;
	grid-row-end:4;
	grid-column:2 / span 4;

	justify-content: flex-start;
	
	padding:20px;

	overflow-y: scroll;

	background-color: rgb(230, 230, 230);

  }




/*----------------------grid----------------------------*/


/* -------------------nav bar---------------------- */
ul{
	list-style: none;
}
.item1 li {
	display:flex;
	justify-content: center;
	align-items: center;

	color:rgb(0, 0, 0);

	border-style: solid;
	border-width: 0px;
	border-color: rgb(255, 0, 0);

	height:100%;

	padding:8px;
}
#header-right ul {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center; 

	border-style: solid;
	border-width: 0px;
	border-color: rgb(255, 0, 0);

	margin:0;
	padding:0;

	width: 100%;
	height: 100%;

	background-color: rgb(255, 253, 253);
  }
  #header-left ul {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center; 

	border-style: solid;
	border-width: 0px;
	border-color: rgb(255, 0, 0);

	margin:0;
	padding:0;

	width: 100%;
	height: 100%;

	background-color: rgb(255, 253, 253);
  }
  


  li:hover{
	background-color: #cfcfcf;
	cursor: pointer;
  }
  li:active{
	background-color: #878787;
  }
 
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: solid;
	border-radius: 0px;
	height:100px;
  }
  li a:hover {
	background-color: #111;
  }
  




  .item3 ul{
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: center; 

	border-style: solid;
	border-width: 0px;
	border-color: rgb(0, 47, 255);

	margin:0;
	padding:0;

	width: 100%;
	height: auto;

	background-color: rgb(255, 253, 253);
}
  .item3 li {
	display:flex;
	justify-content: left;
	align-items: center;

	color:rgb(0, 0, 0);

	border-style: solid;
	border-width: 0px;
	border-color: rgb(255, 0, 0);

	height:auto;
	width:100%;

	padding:5px;
  }

  ul .active{
	background-color: rgb(189, 189, 189);
	border-style:solid;
	border-left-width:5px;
	border-left-color:orange;
  }

  .accordion {
	display:flex;
	justify-content: center;
	align-items: center;

	background-color: rgb(58, 58, 58);
	color: #ffffff;

	padding: 10px;
	width: 100%;

	border-style: solid;
	border-width: 0px;
	border-color: rgb(231, 91, 91);
	text-align: left;

	
	transition: 0.4s;
  }
  
  /*.active1, .accordion:hover {
	background-color: #ccc;
	color:black;
  }*/
  
  .panel {
	background-color: rgb(164, 255, 125);

	border-style: solid;
	border-width: 0px;
	border-color: rgb(6, 8, 6);
	
	display:flex;

	height:auto;
	max-height:10000px;

	margin-bottom:25px;
	
	transition: height 0.2s ease-out;

  }
  
  
  /* -------------------nav bar---------------------- */

/*---------------------table----------------------*/
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin:20px;

	border-style: solid;
	border-width: 0px;
	border-color: red;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;

	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgb(109, 109, 109);


  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }
  /*---------------------table----------------------*/

  /* -------------------vertical menu---------------------- */
#vertical-menu {
	overflow-y: auto;
  }
  
  #vertical-menu a {
	background-color: #ffffff;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
  }
  
  #vertical-menu a:hover {
	background-color: #ccc;
  }
  
  #vertical-menu a.active {
	background-color: #04AA6D;
	
  }
  /* -------------------vertical menu---------------------- */

  /* -------------------inputs---------------------- */
input[type=text], input[type=email],input[type=tel],input[type=date],input[type=password]{
    
    display: inline-block;

	padding: 12px 20px;
	margin: 8px 0;

	border: 1px solid #ccc;
	border-radius: 4px;

    width: 100%;

    color:#636363;

	font-size: 1em;

	

  }

input[type=number], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=submit],input[type=button] {
	width: 100%;
	background-color: #31a5df;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: solid;
	border-radius: 4px;
	cursor: pointer;
}
button{
    width: 100%;
	background-color: #31a5df;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: solid;
	border-radius: 4px;
	cursor: pointer;
}
button:active{
	background-color: #afd9ee;
}
input[type=submit]:disabled {
    background-color: #ccc; /* Change the background color for disabled state */
    cursor: not-allowed; /* Change the cursor for disabled state */
}
input[type=submit]:hover {

}
  
  textarea{
	max-width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	
	border: 2px solid #090909;
	border-radius: 4px;
  }
  /* -------------------inputs---------------------- */

  /*---------------------animation example----------------------*/
#container {
	width: 400px;
	height: 400px;
	position: relative;
	background: yellow;
	
  }
  #animate {
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: red;
}

/*---------------------animation example----------------------*/

/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(77, 77, 77); 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #464646; 
  }


/*---------------------responsive----------------------*/

  @media only screen and (max-width: 1200px) {
	.grid-container {

		grid-template-columns: 190px 0 800px;
		grid-template-rows: 50px 20px auto;
	  }
  }
  @media only screen and (max-width: 1050px) {
	.grid-container {

		grid-template-columns: 190px 0 800px;
		grid-template-rows: 50px 20px auto;

	  }
  }
  @media only screen and (max-width: 1000px) {
	.grid-container {

		grid-template-columns: auto 0 800px;
		grid-template-rows: 50px 20px auto;

	  }
  }
  @media only screen and (max-width: 900px) {
	.grid-container {

		grid-template-columns: 0 0 auto ;
		grid-template-rows: 50px 20px auto;

	  }
	
  }
/*---------------------responsive----------------------*/